<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ZenChat.</h1>
    {{{body}}}
    <p>
        Don't steal my shit or else.
    </p>
  </body>
</html>
